<%- include('header') -%>
  <div class="album">
    <div class="album-header">
      <h2><%= album.title %></h1>
      <em>by <%= album.artist %></em>
    </div>


    <div class="album-reviews">
      <form action="<%= album.id %>/review" method="get">
        <h3>Reviews</h3>
        <input type="hidden" name="title" value="<%= album.title %>">
        <button type="submit">Add Review</button>
      </form>
      <% reviews.forEach(function(review) { %>
      <% review.date = new Date(review.date).toDateString() %>
        <div class="review">
          <div class="review-header">
            <a href="/albums/<%= review.album_id %>"><%= review.album_title %></a>
            <span><%= review.date %></span>
          </div>
          <p><%= review.review %></p>
          <span class="review-author">by <a href="/users/<%= review.author_id %>"><%= review.author %></a></span>
        </div>
      <% }) %>
    </div>
  </div>
<%- include('footer') -%>
