<%- include('header') -%>
  <div class="index">
    <img src="./disc.png">
    <div class="index-main">
      <div class="index-albums-list">
        <h2>Records</h2>
        <% albums.forEach(function(album) { %>
          <div>
            <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
            <span><%= album.artist %></span>
          </div>
        <% }) %>
      </div>
      <div class="index-recent-reviews">
        <h2>Recent Reviews</h2>
        <% reviews.forEach(function(review) { %>
          <div class="review">
            <div class="review-header">
              <a href=""><%= review.albumTitle %></a>
              <span><%= review.reviewDate %></span>
            </div>
            <p><%= review.review %></p>
            <span class="review-author">by <a href=""><%= review.author %></a></span>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
<%- include('footer') -%>
