<%- include('header') -%>
  <div class="profile-block">
    <img class="profile-picture" src="../pictures/profile_pic.jpg">
    <div class="profile-content">
      <h2><%= profile.name %></h2>
      <p>Email: <%= profile.email %></p>
      <p>Date Joined: <%= profile.date_joined %></p>
    </div>
  </div>
<%- include('footer') -%>
